/*Geral*/

body {
    background: #d2d2c1 url('../img/fundo.png');
    font: 16px Arial, Helvetica, sans-serif;
}

#principal {
    width: 900px;
}

div {
    margin: 0;
    padding: 20px;
}

.centralizar {
    text-align: center;
}
/*Cabeçalho*/
#cabecalho {
    background: #c5c5b2;
}
#cabecalho a {
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

/*Conteúdo*/

#conteudo {
    background: #e8e8d9;
}

#conteudo h1 {
    color: #828271;
    font-size: 1.2rem;
}

.img-campanha {
    border: 10px solid #c3c3ae;
}

/*Rodapé*/

#rodape {
    text-align: center;
}